* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Colores personalizados */
:root {
  --primary-orange: rgb(242, 95, 58);
  --secondary-orange: rgb(255, 239, 234);
  --secondary-blue: rgb(35, 44, 81);
  --description-color: rgb(143, 148, 167);
  --footer-color: rgb(29, 30, 37);
}

/* Eliminar decoracion de links */
a:link {
  text-decoration: none;
  color: var(--secondary-blue);
}

a:visited {
  text-decoration: none;
  color: var(--secondary-blue);
}
a {
  text-decoration: none;
  color: var(--secondary-blue);
}
/* color invertido */
ul.footer-ul a:link {
  text-decoration: none;
  color: var(--description-color);
}

ul.footer-ul a:visited {
  text-decoration: none;
  color: var(--description-color);
}
ul.footer-ul a {
  text-decoration: none;
  color: var(--description-color);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  list-style: none;
  width: 100%;
  padding-top: 100px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header div ul.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

/* Botones */
.button-orange {
  background-color: var(--primary-orange);
  border-radius: 50px;
  border: var(--primary-orange);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 18px 38px;
  transition: background-color 0.3s ease;
}

.button-orange:hover {
  background-color: var(--secondary-orange);
  color: var(--primary-orange);
  cursor: pointer;
}

.button-white {
  background: white;
  border-radius: 50px;
  border: var(--primary-orange);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  color: var(--primary-orange);
  padding: 18px 38px;
  transition: background-color 0.3s ease;
}

.button-white:hover {
  background: var(--secondary-orange);
  cursor: pointer;
}

header div button.button-orange {
  position: relative;
  bottom: 13px;
}

.container1 {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 5%;
  width: 100%;
}

h1 {
  color: var(--secondary-blue);
  font-weight: 700;
  font-size: 34px;
  width: 495px;
  height: 12px;
}

.undertitle-h1 {
  font-weight: 500;
  font-size: 16.56px;
  width: 360px;
  padding-top: 160px;
  padding-bottom: 60px;
  line-height: 26.01px;
}

.div1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
  gap: 5%;
}

section.container1 div.div1 button.button-orange {
  position: relative;
  top: 25px;
}

.chart {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  gap: 5%;
}

h2 {
  color: var(--secondary-blue);
  font-weight: 700;
  font-size: 36px;
  width: 495px;
}

.undertitle-h2 {
  font-weight: 500;
  font-size: 16px;
  width: 360px;
  padding-top: 40px;
  line-height: 30px;
}

.about-list {
  list-style: none;
}

h4 {
  color: var(--secondary-blue);
}

.numbers {
  color: white;
  background: var(--primary-orange);
  border: var(--primary-orange);
  border-radius: 50px;
  font-weight: 700;
  padding: 10px 25px;
  position: relative;
  top: 20px;
  right: 90px;
}

.desc {
  color: var(--description-color);
  padding-bottom: 40px;
  padding-top: 28px;
  width: 450px;
}

.people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.b {
  font-size: 39.21px;
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.cards {
  position: relative;
  background: rgb(249, 249, 249);
  color: var(--description-color);
  font-weight: 500;
  height: 220px;
  line-height: 25px;
  text-align: center;
  width: 480px;
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 45px;
}

.card-img {
  position: absolute;
  bottom: 190px;
  left: 207px;
}

.card-text {
  padding-top: 20px;
}

.button-people {
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 170px;
  width: 100%;
}

.main-end {
  align-items: center;
  background-color: var(--primary-orange);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
  width: 100%;
  height: 350px;
}

.main-end-text {
  font-size: 40px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 40px;
  width: 500px;
}

section.main-end button.button-white {
  position: relative;
  top: 20px;
  margin-bottom: 50px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--footer-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 180px;
  gap: 20px;
}

.invert-logo {
  padding-top: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}

.footer-section2 {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 600px;
  line-height: 40px;
  gap: 20%;
}

.footer-ul {
  list-style: none;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
  width: 350px;
}

.input1 {
  background: white;
  border: white;
  border-radius: 50px;
  color: var(--description-color);
  font-weight: 500;
  padding: 18px 38px;
}

section.form button.button-orange {
  padding: 18px 30px;
  margin-left: 10px;
}

section.form p {
  color: var(--description-color);
  font-weight: 300;
  font-size: 12px;
}

@media screen and (max-width: 375px) {
  .nav {
    justify-content: center;
    gap: 130px;
    width: 100%;
  }

  header div ul.nav-bar {
    display: none;
  }

  header div button.button-orange {
    display: none;
  }

  .container1 {
    margin-top: 0px;
  }

  .intro {
    width: 375px;
    margin-top: 30px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    width: 300px;
    text-align: center;
  }

  .undertitle-h1 {
    text-align: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    width: 350px;
    text-align: center;
  }

  ol h4 {
    background-color: var(--secondary-orange);
    height: 25px;
  }
  .undertitle-h2 {
    text-align: center;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  .numbers {
    position: relative;
    top: 0px;
    right: 5px;
    padding: 8px 8px;
  }

  .desc {
    color: var(--description-color);
    padding-bottom: 40px;
    padding-top: 28px;
    width: 330px;
  }

  .card-img {
    position: absolute;
    bottom: 190px;
    left: 155px;
  }

  .main-end-text {
    font-size: 30px;
    text-align: center;
  }

  footer {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .form {
    position: relative;
    justify-content: space-between;
  }

  .input1 {
    background: white;
    border: white;
    border-radius: 50px;
    color: var(--description-color);
    font-weight: 500;
    padding: 13px 38px;
  }

  section.form button.button-orange {
    padding: 13px 20px;
  }

  section.form p {
    position: absolute;
    top: 330px;
    left: 60px;
  }
}

/*menu plegado en mobile*/
@media screen and (min-width: 376px) {
  #i {
    display: none;
  }
}
